.Primary{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.Header{
  font-family: var(--default-font);
  font-weight: 400;
  font-size: 60px;
  color: #4e4e4e;
}

.Product{
  display: flex;
  flex-wrap: wrap;  /* Автоматический перенос на новую строку */
  justify-content: space-around;  /* Можно заменить на center, если нужно выравнивание по центру */
  gap: 16px;
}